body {
    font-family: 'Roboto', sans-serif;
}

header,
main,
footer {
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid rgba(0, 0, 255, 0.2);
    /* Faint border */
    padding: 1rem;
    background-color: #E0E5FF;
    /* Blueish background color */
    text-align: center;
    /* Center the content */
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

section {
    padding: 1rem;
    background-color: #FFFFFF;
    /* White background color */
}

footer {
    margin-top: 2rem;
    /* Add space between the main content and footer */
}